@using TravelClient.mvc.Models;
@model List<Country>;
<h1>Countries</h1>


<ol>
@foreach (Country country in @Model)
{
    <ul>
        <li>
         @Html.ActionLink($"{@country.CountryName} ", "Show", "Cities", new {id = country.CountryId})
         <br>
          @Html.ActionLink("Delete", "Delete", "Countries", new {id = @country.CountryId})
        </li>
    </ul>
    <br>
}
</ol>
 <hr>
   @Html.ActionLink("Create Country", "Create")