@using TravelClient.mvc.Models;
@model List<City>;
<h1>Cities</h1>


<ol>
@foreach (City city in @Model)
{
    <ul>
        <li>
            @Html.ActionLink($"{@city.CityName} {@city.Rating} {@city.ReviewCount}", "Show", "Reviews", new {id = city.CityId})
        </li>
    </ul>
    <br>
}
</ol>